[submodule "etc/xmos_cmake_toolchain"]
	path = etc/xmos_cmake_toolchain
	url = git@github.com:xmos/xmos_cmake_toolchain
[submodule "example/wav_demo/libwav"]
	path = example/wav_demo/libwav
	url = git@github.com:zhaosheng-pan/libwav.git
